* {
    box-sizing: border-box;
}
body, p, h1, h2, h3 {
    margin: 0;
}
@font-face {
    font-family: Huninn;
    src: url(fonts/Huninn-Regular.ttf);
}
body {
    background-image: url(img/body_background.jpg);
    background-attachment: fixed;
}
:root {
    --white_color: #f1fafd;
    --text_color: rgb(54, 33, 33);
    --background_color: rgb(245,245, 245);
    --accent_green: #bdf2c6;
    --accent_violet: #a883e0;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}
.header__inner {
    background: linear-gradient(to right, var(--accent_green), var(--accent_violet));
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px -5px rgba(0, 0, 0, 0.3);
}
.header__inner img {
    height: 100%;
    border-radius: 50%;
}
.header__inner__logo {
    padding: 0;
}
.header__inner__h2 {
    font-family: Huninn;
    text-transform: lowercase;
    font-size: 54px;
    margin: 0 auto;
}
.header__main {
    background-color: var(--white_color);
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "top top" 
        "left right";
    gap: 20px;
    padding: 20px;
}
h1 {
    color: var(--text_color);
    font-size: 50px;
    font-family: huninn, sans-serif;
    grid-area: top;
    margin: 0 auto;
    place-self: center;
    
}
.header__main__left {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    

}
.header__main__left-p {
    color: var(--text_color);
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 36px;
    display: block;
}
.header__main__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    gap: 10px;
    padding: 10px;
}
.header__main__right-a {
    display: flex;   
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--accent_green);
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    color: var(--text_color);
    border-radius: 10px;
}

/*  */

.quotes__header {
    padding: 60px 20px 20px 20px;
    font-family: huninn, sans-serif;
    font-size: 50px;
    color: rgb(249, 252, 252);

}
.quotes__inner {
    display: flex;
    justify-content: space-between;

}
.quotes__inner:last-child {
    border: none;
    padding-bottom: 30px;
}
.quotes__inner__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.quotes__inner__item {
    max-width: 620px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: var(--white_color);
}
.qoute__p {
    margin-bottom: 20px;
    padding-left: 5px;
    font-family: huninn, sans-serif;
    font-size: 25px;
}
/*  */

.footer__inner {
    padding: 20px;
    background: linear-gradient(to right,var(--accent_green), var(--accent_violet));
}
.footer__p {
    font-family: huninn, sans-serif;

}


